<!-- Backdrop -->
@if(cartOpen()) {
    <div 
      class="fixed inset-0 bg-black/40 z-40"
      [class.fade-in]="cartOpen()"
      [class.fade-out]="!cartOpen()"
      (click)="menusrv.toggleCart()"
    ></div>
  }
  
  <!-- Cart drawer -->
  <div 
    class="slide-in-right fixed top-0 right-0 lg:w-110 w-80 h-full bg-white shadow-2xl z-50 flex flex-col"
    [class.open]="cartOpen()"
    [class.slide-out]="!cartOpen()"
  >
    <!-- Header -->
    <div class="flex items-center justify-between p-4 border-b">
      <div class="flex items-center space-x-2">
        <mat-icon class="material-symbols-outlined">local_grocery_store</mat-icon>
        <h3 class="text-lg font-semibold">Your Cart</h3>
      </div>
      <button (click)="menusrv.toggleCart()" class="text-gray-500 hover:text-gray-800 text-xl">✖</button>
    </div>

    @if(menusrv.cartItems().length === 0) { 
    <!-- Empty state -->
    <div class="flex flex-col items-center justify-center flex-grow text-center p-6 space-y-4">
      <img src="/assets/cart-empty.png" alt="Empty Cart" class="w-24 h-24 opacity-40 mx-auto">
      <p class="text-gray-600 font-medium">Your cart is empty</p>
      <p class="text-gray-400 text-sm">
        Browse our tiffin providers and add your favorite meals to get started
      </p>
    </div>
  }

    <!-- List items in cart --> 
     @for(cartitem of menusrv.cartItems(); track cartitem) {
      <div class="flex items-center justify-between p-4 m-2 bg-white shadow-md rounded-xl">
        <div class="flex items-center space-x-4">
          <img [src]="cartitem.item.imageUrl" alt="Meal" class="w-16 h-16 rounded-lg object-cover">
          <div>
            <h4 class="font-semibold">{{cartitem.item.service_name}}</h4>
            <p class="text-sm text-gray-600">{{cartitem.item.location}}</p>
            <p class="text-sm text-gray-800 font-medium">{{cartitem.item.pricePerDay}}</p>
          </div>
        </div>
        <button (click)="menusrv.decrement(cartitem.item)">-</button>
        <span>{{ cartitem.quantity }}</span>
        <button (click)="menusrv.increment(cartitem.item)">+</button>
        <mat-icon class="text-red-500 hover:text-red-700 text-xl material-symbols-outlined"
        (click)="menusrv.removeFromCart(cartitem.item)"
        >delete</mat-icon>
      </div>
    }

  </div>
  