<div class="min-h-screen bg-[#FFF7ED] px-4 py-6">
    <!-- MAIN CARD -->
    <div class="max-w-6xl mx-auto bg-white rounded-2xl shadow-sm p-6">
  
      <!-- Header -->
      <div class="flex justify-between items-start mb-6">
        <div>
          <h2 class="text-lg font-semibold">Extras Management</h2>
          <p class="text-sm text-gray-500">
            Manage additional items customers can order
          </p>
        </div>
  
        <div class="flex gap-2">
          @if(editExtra()) {
          <button class="px-4 py-2 rounded-lg border text-sm"
          (click)="toggleEditExtra()"
          >
            Cancel
          </button>
          <button class="px-4 py-2 rounded-lg bg-black text-white text-sm flex items-center gap-2"
          (click)="saveExtraItem()"
          >
            💾 Save Extras
          </button>
        } @else {
          <button class="px-4 py-2 rounded-lg bg-black text-white text-sm flex items-center gap-2"
          (click)="toggleEditExtra()"
          >
            Edit Extras
          </button>
        }
        </div>
      </div>
            <!-- Add New Extra -->
             @if(editExtra()){
            <div class="border-2 border-dashed rounded-xl px-6 py-4 mb-4">
              <div class="flex justify-between">
                <h3 class="font-medium mb-4">Add New Extra</h3>
                <button class="px-4 py-2 rounded-lg bg-black text-white text-sm flex items-center gap-2"
                (click)="addExtraItem()"
                >
                  ➕ Add Extra
                </button>
              </div>
        
              <div class="flex flex-wrap -mx-2">
                <div class="w-full sm:w-1/2 px-2 mb-4">
                  <label class="text-sm font-medium">Extra Name *</label>
                  <input [field]="extraItemform.name"
                    type="text"
                    placeholder="e.g., Extra Rotli"
                    class="w-full mt-1 rounded-lg bg-gray-100 px-4 py-2 text-sm"
                  />
                </div>
        
                <div class="w-full sm:w-1/2 px-2 mb-4">
                  <label class="text-sm font-medium">Price (CAD) *</label>
                  <input [field]="extraItemform.price"
                    step="0.01"
                    type="number"
                    placeholder="2.00"
                    class="w-full mt-1 rounded-lg bg-gray-100 px-4 py-2 text-sm"
                  />
                </div>

                <div class="w-full sm:w-1/2 px-2 mb-4">
                  <label class="text-sm font-medium">Qty *</label>
                  <input [field]="extraItemform.qty"
                    type="number"
                    placeholder="2"
                    class="w-full mt-1 rounded-lg bg-gray-100 px-4 py-2 text-sm"
                  />
                </div>
        
                <div class="w-full sm:w-1/2 px-2 mb-4">
                  <label class="text-sm font-medium">Unit *</label>
                  <select class="w-full mt-1 rounded-lg bg-gray-100 px-4 py-2 text-sm"
                  [field]="extraItemform.unit"
                  >
                  @for(u of unit; track u) {
                    <option>{{u}}</option>
                  }
                  </select>
                </div>
              </div>

            </div>
          }
  
      <!-- Existing Extras -->
      <div class="space-y-4 mb-8">
        @for(item of items(); track item) {
        <!-- Extra Item -->
        <div class="flex justify-between items-center border rounded-xl p-4">
          <div>
            <p class="font-medium">{{item.name}}</p>
            <p class="text-sm text-gray-500">${{item.price | number:'1.2'}}/{{item.qty}} {{item.unit}}</p>
          </div>
          <button class="text-red-500 hover:opacity-70"
          (click)="removeExtraItem(item)"
          >
          🗑</button>
        </div>
      }
      </div>
    </div>
  </div>
  